* {
    margin:0px;
    padding:0px;
    font-family:Rubkik, Arial;
}

html {
    height:100%;
}

body {
    height:100%;
    background-color:#000814;
}

p {
    font-size:larger;
}

nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:1% 1%;
    font-size:150%;
    background-color:#003566;
    color:#ffd60a;
    border-bottom:3px solid #ffc300;
    position:fixed;
    top:0;
    right:0;
    left:0;
    text-align:center;
}

nav h2  {
    margin-bottom:0px;
}

#drop-btn {
    display:hidden;
}

nav ul {
    width:45%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap-reverse;
    list-style:none;
}

nav li {
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align: center;
    margin-right:1%;
}

a, a:visited {
    color:#ffd60a;
    text-decoration:none;
}

a:hover {
    cursor:pointer;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size:300%;
    margin-top:5%;
    color:#ffd60a;
}

main {
    display:flex;
    flex-direction:column;
    width:100%;
    height:max-content;
    top:0;
    justify-content:center;
    align-items:center;
    background-color:#000814;
    color:#ffd60a;
}

main article {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:5%;
    margin:5%;
    background-color:#003566;
    align-items:center;
    width:50%;
    border-radius:25px;
    height:max-content;
    font-size:larger;
}

main img {
    max-width:25%;
    border-radius:50px;
}

main article ul {
    height:max-content;
    max-width:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

main article ul a{
    font-style:italic;
}

main article ul a:hover {
    text-decoration:underline;
}
main article ul li {
    margin:5%;
}

main article div {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

#about-me div p {
    text-align:center;
    max-width:60%;
}

h2 {
    font-size:200%;
    margin-bottom:2%;
}

#skills {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
    background-color:#001d3d;
    color:white;
    padding:2% 0;
}

#contact-me {
    background-color:#003566;
    color:#ffd60a;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding:1%;
}

#contact-me ul {
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

#contact-me ul li {
    margin:1%;
}

#drop-btn {
    display:none;
}

#drop-menu {
    visibility:hidden;
}

@media only screen and (max-width: 940px) {
    nav ul {
        display:none;
    }
    #drop-btn {
        display:block;
        padding:0 2%;
        background-color:#003566;
        color:#ffc300;
        border:none;
        font-size:large;
        text-decoration:underline;
    }

    #drop-btn:hover {
        cursor:pointer;
    }

    #drop-menu {
        display:flex;
        flex-direction:column;
        justify-content:flex-start;;
        align-items:center;
        list-style:none;
        font-size:150%;
        position:fixed;
        height:100%;
        right:0;
        min-width: 160px;
        z-index: 1;
        background-color:#003566;
    }

    #drop-menu li {
        margin-top:15%;
        padding-bottom:10%;
        border-bottom: 3px solid #000814;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
}